<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># The FOSS Code of Conduct
# ENFORCING THE CODE OF CONDUCT</title>
<pre>
     __ __       _______ _______ _______ ___ _______ ___     _______ _______ 
 .--|  |  |_    |   _   |   _   |       |   |   _   |   |   |   _   |   _   |
 |  _  |   _|   |.  1   |.  l   |.|   | |.  |.  1___|.  |   |.  1___|   1___|
 |_____|____|   |.  _   |.  _   `-|.  |-|.  |.  |___|.  |___|.  __)_|____   |
                |:  |   |:  |   | |:  | |:  |:  1   |:  1   |:  1   |:  1   |
                |::.|:. |::.|:. | |::.| |::.|::.. . |::.. . |::.. . |::.. . |
                `--- ---`--- ---&#39 `---&#39 `---`-------`-------`-------`-------&#39
                                                                             
</pre>
<p><br/></p>
<h1>The FOSS Code of Conduct</h1>
<p>By Derek Taylor at January 20, 2020</p>
<p><br/></p>
<h2>THE FOSS CODE OF CONDUCT</h2>
<p>This code of conduct is written to guide an individual&#39s choices and actions within the free and open source software (FOSS) community. This code will help one determine the purpose and the course of his work as well as his place as a member of this community.</p>
<p><br/></p>
<h2>1. THE ETHIC OF RECIPROCITY</h2>
<p>The most fundamental ethic is that of reciprocity–do unto others as they do unto you. Are you treating others in a manner that they would not treat you? If so, then your actions are out of bounds and you should cease those actions. Emotional reactions should be calculated carefully. Before acting, decide how the potential response might benefit you and/or the community and how it might hinder you and/or the community.</p>
<p><br/></p>
<h2>2. ACTIONS DEFINE US</h2>
<p>People should not be prejudged because of their race, ethnicity, nationality, religious beliefs, gender identity, sexual orientation, age or gender, but rather evaluated on their accomplishments and actions. Harassment and discrimination should not and will not be tolerated. Instead, you be judged on your actions. And based on your actions, you will either succeed in your acheivements or fail in your own incompetence or impotence.</p>
<p><br/></p>
<h2>3. INEQUALITY</h2>
<p>On equality: no two people are the same. Common sense should dictate that no two individuals have the exact same strength, intelligence, strive to succeed, perserverance, etc. When you claim that two people are equal, it is insulting to both individuals. The term inequality should not have a negative connotation; in fact, our inequality should be celebrated. It is what makes each of us unique.</p>
<p><br/></p>
<h2>4. ACCEPTANCE RATHER THAN TOLERANCE</h2>
<p>Acceptance is expected among our members, but not necessarily tolerance. Tolerance is negative in connotation and in practice. Tolerance is to endure with forbearance and restraint. It implies that you must fight your own instincts. Tolerance requires patience and causes stress and frustration. More importantly, tolerance drains you of your vital energy. Energy is not limitless so rather than wasting energy on tolerance, direct that energy toward something positive. Acceptance is a postive emotion and should be practiced by our members. Where tolerance focuses on the bad aspects of the person or situation, acceptance is seeing the good in the person or situation. So when you find yourself becoming irritated at the behavior of others, look deeper and find the positive aspects that are there within each of us.</p>
<p><br/></p>
<h2>5. DO NOT BE JUDGEMENTAL</h2>
<p>The practice of judging and condemning is a negative emotion and is the sign of a shallow intellect. Typically, the one who is condemning is doing so because of his own inadequacies. He is weak-minded and must focus on the negative aspects of others to avoid the pain of recognizing the negative aspects of himself. A wise man once said, “Judge not, lest you be judged.”</p>
<p><br/></p>
<h2>6. VICTIM MENTALITY AND MARTYRDOM</h2>
<p>Some people are habitual victims, seeking personal attention all the time. When someone is committed to being a victim, everyone else is to blame, and there is absolutely no hope whatsoever for this person. The victim only has one cause–himself. Some victims prefer to play the role of martyr. They often pick fights in order to lose–to be the victim, to be the martyr. Martyrdom is often used by weaklings who cannot admit defeat or admit that they were wrong. If you are in a situation were martyrdom is your only course of action, then you are championing the wrong cause. Victim mentality and self-martyrdom will not be tolerated.</p>
<p><br/></p>
<h2>7. YOUR VALUE TO THE COMMUNITY</h2>
<p>We as human beings tend to over-valuate ourselves, always thinking we are worth more than we actually are. No one ever claims that they are overpaid or treated too well by others. We think we are owed. We are clothed psychologically with pretenses and fraud, but we have to understand that the market is never wrong. You may think that you deserve more money, greater respect or better treatment. But if no one is willing to give you these things, then the market has priced you accordingly. You must learn to evaluate yourself as an impartial observer.</p>
<p><br/></p>
<h2>8. COMPETITON IS ENCOURAGED</h2>
<p>Competition amongst individuals should not be shunned but encouraged! The brutal fact is that the more we opt out of competition, the lower our position in the community is likely to be. If you feel yourself slipping down the ranks of the pecking order, then do something about it.</p>
<p><br/></p>
<h1>ENFORCING THE CODE OF CONDUCT</h1>
<p>The following actions are available to community leaders in the event that disciplinary action needs to be taken:</p>
<p><br/></p>
<h2>1. VERBAL WARNING</h2>
<p>The verbal warning should be a private consultation from a community leader who should explain the violation and prescribe any corrective actions, such as public or private apology.</p>
<p><br/></p>
<h2>2. WRITTEN WARNING</h2>
<p>The written warning is a formal warning that should be part of the member&#39s permanent record. The written warning is appropriate if the member being disciplined has already received a verbal warning, or if the offense warrants skipping the verbal warning altogether.</p>
<p><br/></p>
<h2>3. TEMPORARY BAN</h2>
<p>The temporary ban should be used for serious violations of the Code of Conduct. The member being disciplined is banned from any kind of interaction, public or private, with the community for a specified time.</p>
<p><br/></p>
<h2>4. PERMANENT BAN</h2>
<p>A permanent ban is appropriate when the member being disciplined has proven that he cannot abide by the Code of Conduct. The member being disciplined is banned from any kind of interaction, public or private, with the community. This ban is permanent and irrevocable.</p>
