<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># Why do most Linux users have an elitist attitude?</title>
<pre>
     __ __       _______ _______ _______ ___ _______ ___     _______ _______ 
 .--|  |  |_    |   _   |   _   |       |   |   _   |   |   |   _   |   _   |
 |  _  |   _|   |.  1   |.  l   |.|   | |.  |.  1___|.  |   |.  1___|   1___|
 |_____|____|   |.  _   |.  _   `-|.  |-|.  |.  |___|.  |___|.  __)_|____   |
                |:  |   |:  |   | |:  | |:  |:  1   |:  1   |:  1   |:  1   |
                |::.|:. |::.|:. | |::.| |::.|::.. . |::.. . |::.. . |::.. . |
                `--- ---`--- ---&#39 `---&#39 `---`-------`-------`-------`-------&#39
                                                                             
</pre>
<p><br/></p>
<h1>Why do most Linux users have an elitist attitude?</h1>
<p>By Derek Taylor at March 7, 2020</p>
<p><br/></p>
<p>It is often said that many, if not most, Linux users have an elitist attitude. We love to talk about how much better our OS is compared to the alternatives. Sometimes, we love to talk about how much better our distro is compared to other Linux distros. Linux users often talk about how Linux changed their lives, changed the way they thought about computers and the world in general. And to those outside of the Linux community, we come across as a bunch or elitist, arrogant A-holes. But do we really have an elitist attitude? Yes, we do.</p>
<p><br/></p>
<p>But there is a reason we have an elitist attitude, and a good reason at that…because we are elite. It&#39s not an attitude. We really are elite! Think about it for a minute. Why are we elite? Here are some reasons:</p>
<p><br/></p>
<h2>We are the 2%</h2>
<p>Around 2% of the world uses a desktop Linux distribution as their operating system. What could be more elite than that? And it goes deeper than just our OS. The reason most of us end up on Linux, is because we are non-conformists or at the very least not afraid to stray from herd.</p>
<p><br/></p>
<h2>We are far more computer literate.</h2>
<p>On average, Linux users are much more computer savvy than the typical computer user. Linux users are aware of things that most Windows and Mac users have never considered–like what an OS is, the kernel, DE, WM, compositor, init system, file systems, user permissions, package management, etc.</p>
<p><br/></p>
<h2>Linux is used in elite fields.</h2>
<p>Many Linux users are using Linux on the server, in enterprise, on mainframes, as development platforms, in scientific-endeavors, in really high-end data-intensive environments. Linux dominates in these areas compared to Windows and Mac which are really strictly for home consumer use.</p>
<p><br/></p>
<h2>Linux users are passionate about their OS.</h2>
<p>I&#39ve never met a Windows user that was passionate about using Windows. Mac users, well some of them are fanboys of MacOS, but not in the way Linux users are. Linux is more than our OS, it is our way of life. Linux is not just software; it also an idea, and it also the community.</p>
<p><br/></p>
<p>And it&#39s not just that we love to go against the grain and run software most people do not. We actually think that Linux is better than Windows and Mac. In fact, we know it is…at least for us. Because…</p>
<p><br/></p>
<h2>Linux users are control freaks.</h2>
<p>Answer these questions those of you that have used both Windows and Linux:</p>
<p><br/></p>
<ul>
<li>Which of them can be updated while running?</li>
<li>Which of them allows me to set the time for updates to happen?</li>
<li>Which of them spends the shortest time booting?</li>
<li>Which of them installs quicker?</li>
<li>Which of them allow me to switch out the desktop environment, window manager, etc?</li>
<li>Which of them respects my privacy?</li>
<li>Which of them can be reinstalled in 15 mins or less with all my user data still intact?</li>
</ul>
<p> </p>
<p>Linux is definitely an OS that attracts elite computer users in a way than neither Windows nor MacOS does. But, if you are Windows or a Mac user, don&#39t let our elitism be offensive to you. After listing just a few reasons of why we have this attitude, how could we possibly avoid being elitist?</p>
