<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># WELCOME TO DISTRO.TUBE</title>
<pre>
     __ __       __                 __         __          
 .--|  |__.-----|  |_.----.-----.  |  |_.--.--|  |--.-----.
 |  _  |  |__ --|   _|   _|  _  |__|   _|  |  |  _  |  -__|
 |_____|__|_____|____|__| |_____|__|____|_____|_____|_____|

</pre>
<h1>WELCOME TO DISTRO.TUBE</h1>
<p>Distro.tube is a site created by Derek Taylor (DT), creator of the DistroTube (DT) channel on YouTube and LBRY.  I create videos about GNU/Linux, free software, open source software and related interests.  This site is best viewed using the Gemini protocol using a Gemini browser such as Amfora (terminal-based client), Lagrange (GUI client) or using the Geminize plugin for Firefox.</p>
<p><br/></p>
<a style="display: block;" href="https://youtube.com/DistroTube">DistroTube on YouTube</a>
<a style="display: block;" href="https://odysee.com/@DistroTube:2">DistroTube on Odysee (LBRY)</a>
<a style="display: block;" href="https://patreon.com/distrotube/">Support DT on Patreon</a>
<a style="display: block;" href="https://gitlab.com/dwt1/">DT&#39s GitLab</a>
<a style="display: block;" href="https://gitlab.com/dwt1/distro.tube">Submit Guest Articles On GitLab</a>
<p><br/></p>
<h2>VIDEO LIBRARY</h2>
<p>Here are links to my videos hosted on Odysee (LBRY), a free and open source alternative to YouTube.</p>
<p><br/></p>
<a style="display: block;" href="videos/2021-videos.html">Videos from 2021</a>
<a style="display: block;" href="videos/2020-videos.html">Videos from 2020</a>
<a style="display: block;" href="videos/2019-videos.html">Videos from 2019</a>
<a style="display: block;" href="videos/2018-videos.html">Videos from 2018</a>
<a style="display: block;" href="videos/2017-videos.html">Videos from 2017</a>
<p><br/></p>
<h2>ARTICLES</h2>
<p>Here are some articles written by me that some may find useful.  They are mostly Linux and software-related.</p>
<p><br/></p>
<a style="display: block;" href="articles/social-media-implements-new-policies.html">Social Media Sites Implement New Policies To Combat Wrong-Think (07-20-2020)</a>
<a style="display: block;" href="articles/fish-is-the-better-shell.html">Fish Is The Better Shell For More Modern Times (04-09-2020)</a>
<a style="display: block;" href="articles/give-new-linux-users-ubuntu.html">Give New Linux Users Ubuntu, Not Choice (03-28-2020)</a>
<a style="display: block;" href="articles/standardized-keybindings-tiling.html">Standardized Keybindings Across All Tiling Window Managers (03-12-2020)</a>
<a style="display: block;" href="articles/why-linux-users-are-elitist.html">Why Do Most Linux Users Have An Elitist Attitude? (03-07-2020)</a>
<a style="display: block;" href="articles/file-globbing-in-linux.html">File Globbing In Linux (02-26-2020)</a>
<a style="display: block;" href="articles/securing-the-firefox-browser.html">Securing The Firefox Web Browser (02-25-2020)</a>
<a style="display: block;" href="articles/move-your-home-folder-to-second-drive.html">Move Your Home Folder To A Second Drive (02-20-2020)</a>
<a style="display: block;" href="articles/the-foss-code-of-conduct.html">The FOSS Code Of Conduct (01-20-2020)</a>
<a style="display: block;" href="articles/seven-things-to-avoid-on-linux.html">Seven Things To Avoid On Linux (01-14-2020)</a>
<a style="display: block;" href="articles/installing-lets-encrypt-on-ubuntu.html">Installing Let&#39s Encrypt On Your Ubuntu Server (01-04-2020)</a>
<p><br/></p>
<h2>GUEST ARTICLES</h2>
<p>These are guest articles submitted by members of the community.  The source of this site and all of its content is availble on my GitLab.  Thus, anyone that wants to submit an article can do so with a pull request.  Please, submit your articles in &quotgemtext&quot and not HTML or markdown.</p>
<p><br/></p>
<a style="display: block;" href="guest-articles/interactive-dotfile-management-dotbare.html">Interactive Dotfile Management With Dotbare (05-25-2020) [Kevin Zhuang]</a>
<a style="display: block;" href="guest-articles/managing-dotfiles-with-rcm.html">Managing Dotfiles With Style With rcm (04-23-2020) [Ronnie Nissan]</a>
<a style="display: block;" href="guest-articles/installing-manjaro-dual-boot.html">Installing Manjaro in Dual Booting Environment (04-22-2020) [Primož Ajdišek &quotBigpod&quot]</a>
<a style="display: block;" href="guest-articles/installing-and-using-sxhkd.html">Installing And Using sxhkd (04-21-2020) [Ronnie Nissan]</a>
<a style="display: block;" href="guest-articles/using-dwmblocks-with-dwms-bar.html">Using dwmblocks With dwm&#39s Bar (04-20-2020) [Ronnie Nissan]</a>
<a style="display: block;" href="guest-articles/how-to-install-suckless-tools.html">How to Install, Customize and Backup Suckless Tools (04-18-2020) [Ronnie Nissan]</a>
<a style="display: block;" href="guest-articles/its-time-for-new-text-editor.html">It&#39s Time For a New Text Editor (03-20-2020) [Klaus-Dieter Schmatz]</a>
<a style="display: block;" href="guest-articles/vim-plugins-without-manager.html">Vim Plugins Without a Plugin Manager (03-15-2020) [Klaus-Dieter Schmatz]</a>
<p><br/></p>
<h2>PROJECT GEMINI</h2>
<p>This site uses a new Internet protocol called Gemini which can be seen as a middle ground between the old gopher protocol of the early 1990s and the modern web.  Gemini attempts to address the weaknesses of gopher while avoiding the pitfalls of the web.</p>
<p><br/></p>
<p>I have built this site (or &quotcapsule&quot) using Gemini in an effort to promote the project in the hope that more people will turn away from the dumpster fire that is the modern web.  Gemini is plain text written in a markdown-like syntax.  Links can only be written and displayed one per line (similar to gopher).  There are no images, no video and no advertisements!</p>
<p><br/></p>
<p>Gemini should be of particular interest to people who are:</p>
<ul>
<li>Opposed to the web&#39s ubiquitous user tracking</li>
<li>Tired of obnoxious adverts, autoplaying videos and other misfeatures</li>
<li>Interested in low-power computing and/or low-speed networks</li>
<li>Opposed to the big tech monopoly that dominates the web</li>
</ul>
<p><br/></p>
<p>If you want to help promote a simpler and more efficient alternative to the web, please consider making your next &quotweb&quot site a Gemini capsule instead.</p>
<p><br/></p>
<p><br/></p>
<p>=&gt gemini://gemini.circumlunar.space Project Gemini</p>
<p><br/></p>
<p>=&gt gemini://geminispace.info Gemini Search Engine</p>
<p><br/></p>
<h2>INTERESTING GEMINI CAPSULES</h2>
<p><br/></p>
<p>=&gt gemini://gem.chriswere.uk Chris Were</p>
<p><br/></p>
<p>=&gt gemini://gemini.barca.mi.it fnt400</p>
<p><br/></p>
<p>=&gt gemini://friendo.monster Friendo (uoou)</p>
<p><br/></p>
<p>=&gt gemini://hexdsl.co.uk Hex DSL</p>
<p><br/></p>
<p>=&gt gemini://gemini.tunerapp.org Internet Radio Stations Directory</p>
<p><br/></p>
<p>=&gt gemini://medusae.space medusae.space Gemini directory</p>
