<head><link rel="stylesheet" href="https:\/\/distrotube.com/css/style.css">
<title># DistroTube Videos from 2021 (sorted in reverse order)</title>
<pre>
     __ __       _______ _______ _______ _____ 
 .--|  |  |_    |       |   _   |       | _   |
 |  _  |   _|   |___|   |.  |   |___|   |.|   |
 |_____|____|    /  ___/|.  |   |/  ___/`-|.  |
                |:  1  \|:  1   |:  1  \  |:  |
                |::.. . |::.. . |::.. . | |::.|
                `-------`-------`-------&#39 `---&#39
                                               
</pre>
<p><br/></p>
<h1>DistroTube Videos from 2021 (sorted in reverse order)</h1>
<p><br/></p>
<p>TITLE: Improve Efficiency In Chrome or Firefox With Vimium</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/improve-efficiency-in-chrome-or-firefox:4">https://odysee.com/@DistroTube:2/improve-efficiency-in-chrome-or-firefox:4</a>
<p><br/></p>
<p>TITLE: Are &quotMainstream&quot Linux Distros Better?</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/are-mainstream-linux-distros-better:f">https://odysee.com/@DistroTube:2/are-mainstream-linux-distros-better:f</a>
<p><br/></p>
<p>TITLE: Working At Home Sucks. Moving Into An Office.</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/working-at-home-sucks.-moving-into-an:d">https://odysee.com/@DistroTube:2/working-at-home-sucks.-moving-into-an:d</a>
<p><br/></p>
<p>TITLE: My Thoughts On The Recent Crypto Crash</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/my-thoughts-on-the-recent-crypto-crash:6">https://odysee.com/@DistroTube:2/my-thoughts-on-the-recent-crypto-crash:6</a>
<p><br/></p>
<p>TITLE: If Someone Asks You About Linux, Tell Them...</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/if-someone-asks-you-about-linux,-tell:4">https://odysee.com/@DistroTube:2/if-someone-asks-you-about-linux,-tell:4</a>
<p><br/></p>
<p>TITLE: Nextcloud Installation Is A Snap</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/nextcloud-installation-is-a-snap:0">https://odysee.com/@DistroTube:2/nextcloud-installation-is-a-snap:0</a>
<p><br/></p>
<p>TITLE: Nitrux Demands Public Apology From DistroWatch</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/nitrux-demands-public-apology-from:f">https://odysee.com/@DistroTube:2/nitrux-demands-public-apology-from:f</a>
<p><br/></p>
<p>TITLE: The AUR Removed My Packages, So I Created My Own Repo</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-aur-removed-my-packages,-so-i:3">https://odysee.com/@DistroTube:2/the-aur-removed-my-packages,-so-i:3</a>
<p><br/></p>
<p>TITLE: &quotHey, DT. FreeBSD Is Actually Unix!&quot (And Other Comments I Get)</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/hey,-dt.-freebsd-is-actually-unix!-(and:d">https://odysee.com/@DistroTube:2/hey,-dt.-freebsd-is-actually-unix!-(and:d</a>
<p><br/></p>
<p>TITLE: Nitrux Is An Impressive Linux Distribution</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/nitrux-is-an-impressive-linux:4">https://odysee.com/@DistroTube:2/nitrux-is-an-impressive-linux:4</a>
<p><br/></p>
<p>TITLE: Termite Is Dead. Dev Lashes Out At GNOME.</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/termite-is-dead.-dev-lashes-out-at:b">https://odysee.com/@DistroTube:2/termite-is-dead.-dev-lashes-out-at:b</a>
<p><br/></p>
<p>TITLE: Create Portable Packages With AppImage</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/create-portable-packages-with-appimage:c">https://odysee.com/@DistroTube:2/create-portable-packages-with-appimage:c</a>
<p><br/></p>
<p>TITLE: Pacstall Is An &quotAUR&quot For Ubuntu</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/pacstall-is-an-aur-for-ubuntu:8">https://odysee.com/@DistroTube:2/pacstall-is-an-aur-for-ubuntu:8</a>
<p><br/></p>
<p>TITLE: Easily Customize DWM With Flexipatch</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/easily-customize-dwm-with-flexipatch:1">https://odysee.com/@DistroTube:2/easily-customize-dwm-with-flexipatch:1</a>
<p><br/></p>
<p>TITLE: Rice Your Terminal With Fetch Master 6000</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/rice-your-terminal-with-fetch-master:d">https://odysee.com/@DistroTube:2/rice-your-terminal-with-fetch-master:d</a>
<p><br/></p>
<p>TITLE: My First Look At Fedora 34 (and GNOME 40)</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/my-first-look-at-fedora-34-(and-gnome:7">https://odysee.com/@DistroTube:2/my-first-look-at-fedora-34-(and-gnome:7</a>
<p><br/></p>
<p>TITLE: Working On (Breaking Some) Stuff - DT LIVE</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/working-on-(breaking-some)-stuff-dt-live:b">https://odysee.com/@DistroTube:2/working-on-(breaking-some)-stuff-dt-live:b</a>
<p><br/></p>
<p>TITLE: I Need Ambient Noise At My Workstation</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/i-need-ambient-noise-at-my-workstation:9">https://odysee.com/@DistroTube:2/i-need-ambient-noise-at-my-workstation:9</a>
<p><br/></p>
<p>TITLE: Being &quotSick&quot Doesn&#39t Mean The &quotC&quot Word #shorts</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/being-sick-doesn&#39t-mean-the-c-word:0">https://odysee.com/@DistroTube:2/being-sick-doesn&#39t-mean-the-c-word:0</a>
<p><br/></p>
<p>TITLE: Fix Your Shell Scripts With Shellcheck</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/fix-your-shell-scripts-with-shellcheck:1">https://odysee.com/@DistroTube:2/fix-your-shell-scripts-with-shellcheck:1</a>
<p><br/></p>
<p>TITLE: Chat With Patrons (April 25, 2021)</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/chat-with-patrons-(april-25,-2021):b">https://odysee.com/@DistroTube:2/chat-with-patrons-(april-25,-2021):b</a>
<p><br/></p>
<p>TITLE: Keep Politics Out Of Free And Open Source Software </p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/keep-politics-out-of-free-and-open:e">https://odysee.com/@DistroTube:2/keep-politics-out-of-free-and-open:e</a>
<p><br/></p>
<p>TITLE: Looking At Six Flavors Of Ubuntu 21.04 &quotHirsute Hippo&quot </p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/looking-at-six-flavors-of-ubuntu-21.04:6">https://odysee.com/@DistroTube:2/looking-at-six-flavors-of-ubuntu-21.04:6</a>
<p><br/></p>
<p>TITLE: XMonad, You&#39re Simply The Best! </p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/xmonad,-you&#39re-simply-the-best!:a">https://odysee.com/@DistroTube:2/xmonad,-you&#39re-simply-the-best!:a</a>
<p><br/></p>
<p>TITLE: Want To Be Like DT? Install Shell-Color-Scripts And Dmscripts! </p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/want-to-be-like-dt-install-shell-color:8">https://odysee.com/@DistroTube:2/want-to-be-like-dt-install-shell-color:8</a>
<p><br/></p>
<p>TITLE: A Quick Installation Of FreeBSD 13.0</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/a-quick-installation-of-freebsd-13.0:3">https://odysee.com/@DistroTube:2/a-quick-installation-of-freebsd-13.0:3</a>
<p><br/></p>
<p>TITLE: Leaving Doom Emacs For GNU Emacs? - DT Live!</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/leaving-doom-emacs-for-gnu-emacs-dt:7">https://odysee.com/@DistroTube:2/leaving-doom-emacs-for-gnu-emacs-dt:7</a>
<p><br/></p>
<p>TITLE: The Linux Community Is Real. Linux UNITY Is A Myth.</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-linux-community-is-real.-linux-unity:c">https://odysee.com/@DistroTube:2/the-linux-community-is-real.-linux-unity:c</a>
<p><br/></p>
<p>TITLE: Create Beautiful Websites Using Emacs Org Mode</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/create-beautiful-websites-using-emacs:7">https://odysee.com/@DistroTube:2/create-beautiful-websites-using-emacs:7</a>
<p><br/></p>
<p>TITLE: Neovide Is A Graphical Neovim Client Written In Rust</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/neovide-is-a-graphical-neovim-client:c">https://odysee.com/@DistroTube:2/neovide-is-a-graphical-neovim-client:c</a>
<p><br/></p>
<p>TITLE: Friday Night Q&ampA - Ask DT Live!</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/friday-night-q-a-ask-dt-live!:5">https://odysee.com/@DistroTube:2/friday-night-q-a-ask-dt-live!:5</a>
<p><br/></p>
<p>TITLE: How To Change Your Themes In Linux</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/how-to-change-your-themes-in-linux:1">https://odysee.com/@DistroTube:2/how-to-change-your-themes-in-linux:1</a>
<p><br/></p>
<p>TITLE: &quotHey, DT! Free Linux Distros Are Not Really Free.&quot Plus More Comments.</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/hey,-dt!-free-linux-distros-are-not:2">https://odysee.com/@DistroTube:2/hey,-dt!-free-linux-distros-are-not:2</a>
<p><br/></p>
<p>TITLE: My Personal Website Will Now Be A Gemini Capsule</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/my-personal-website-will-now-be-a-gemini:3">https://odysee.com/@DistroTube:2/my-personal-website-will-now-be-a-gemini:3</a>
<p><br/></p>
<p>TITLE: Unboxing The ZSA Moonlander Programmable Keyboard</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/unboxing-the-zsa-moonlander-programmable:0">https://odysee.com/@DistroTube:2/unboxing-the-zsa-moonlander-programmable:0</a>
<p><br/></p>
<p>TITLE: Is The Best RSS Reader An Emacs Package?</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/is-the-best-rss-reader-an-emacs-package:6">https://odysee.com/@DistroTube:2/is-the-best-rss-reader-an-emacs-package:6</a>
<p><br/></p>
<p>TITLE: The SEC Sues LBRY. Also, Follow Me On Odysee!</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-sec-sues-lbry.-also,-follow-me-on:9">https://odysee.com/@DistroTube:2/the-sec-sues-lbry.-also,-follow-me-on:9</a>
<p><br/></p>
<p>TITLE: A Quick Look At Manjaro 21.0 &quotOrnara&quot Xfce</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/a-quick-look-at-manjaro-21.0-ornara-xfce:c">https://odysee.com/@DistroTube:2/a-quick-look-at-manjaro-21.0-ornara-xfce:c</a>
<p><br/></p>
<p>TITLE: GNOME Board Members Must Resign In Disgrace</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/gnome-board-members-must-resign-in:c">https://odysee.com/@DistroTube:2/gnome-board-members-must-resign-in:c</a>
<p><br/></p>
<p>TITLE: Mob Mentality Threatens The Free Software Movement</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/mob-mentality-threatens-the-free:b">https://odysee.com/@DistroTube:2/mob-mentality-threatens-the-free:b</a>
<p><br/></p>
<p>TITLE: Creating A Dmenu Script For Web Bookmarks And History</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/creating-a-dmenu-script-for-web:b">https://odysee.com/@DistroTube:2/creating-a-dmenu-script-for-web:b</a>
<p><br/></p>
<p>TITLE: Want DT&#39s Desktop? Deploy My Dotfiles! - DT LIVE</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/want-dt&#39s-desktop-deploy-my-dotfiles!-dt:1">https://odysee.com/@DistroTube:2/want-dt&#39s-desktop-deploy-my-dotfiles!-dt:1</a>
<p><br/></p>
<p>TITLE: Stop Pretending &quot/bin/sh&quot Is A Real Shell #shorts</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/stop-pretending-bin-sh-is-a-real-shell:5">https://odysee.com/@DistroTube:2/stop-pretending-bin-sh-is-a-real-shell:5</a>
<p><br/></p>
<p>TITLE: Fix Your Mouse Wheel Scrolling Speed With Imwheel</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/fix-qutebrowser-mouse-scrolling-with:5">https://odysee.com/@DistroTube:2/fix-qutebrowser-mouse-scrolling-with:5</a>
<p><br/></p>
<p>TITLE: Manage Your Virtual Machines With Cockpit</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/manage-your-virtual-machines-with:0">https://odysee.com/@DistroTube:2/manage-your-virtual-machines-with:0</a>
<p><br/></p>
<p>TITLE: The MEME Live Stream - DT LIVE</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-meme-live-stream-dt-live:3">https://odysee.com/@DistroTube:2/the-meme-live-stream-dt-live:3</a>
<p><br/></p>
<p>TITLE: Resistance Is Futile, So I&#39m Back In Qtile</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/resistance-is-futile,-so-i&#39m-back-in:5">https://odysee.com/@DistroTube:2/resistance-is-futile,-so-i&#39m-back-in:5</a>
<p><br/></p>
<p>TITLE: The Yakuake Drop-Down Terminal For KDE Plasma</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-yakuale-drop-down-terminal-for-kde:d">https://odysee.com/@DistroTube:2/the-yakuale-drop-down-terminal-for-kde:d</a>
<p><br/></p>
<p>TITLE: I See So Much Negativity In The World</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/i-see-so-much-negativity-in-the-world:5">https://odysee.com/@DistroTube:2/i-see-so-much-negativity-in-the-world:5</a>
<p><br/></p>
<p>TITLE: Solve Problems With Shell Scripting And Dmenu</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/solve-problems-with-shell-scripting-and:d">https://odysee.com/@DistroTube:2/solve-problems-with-shell-scripting-and:d</a>
<p><br/></p>
<p>TITLE: &quotHey, DT! How Do I Learn The Terminal?&quot (And Other Questions Answered)</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/hey,-dt!-how-do-i-learn-the-terminal:d">https://odysee.com/@DistroTube:2/hey,-dt!-how-do-i-learn-the-terminal:d</a>
<p><br/></p>
<p>TITLE: YouTube Channels I&#39ve Enjoyed Watching In 2021</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/youtube-channels-i-ve-enjoyed-watching:a">https://odysee.com/@DistroTube:2/youtube-channels-i-ve-enjoyed-watching:a</a>
<p><br/></p>
<p>TITLE: Installation And First Look At Mageia 8</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/installation-and-first-look-at-mageia-8:2">https://odysee.com/@DistroTube:2/installation-and-first-look-at-mageia-8:2</a>
<p><br/></p>
<p>TITLE: Five Tips For The Openbox Window Manager</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/five-tips-for-the-openbox-window-manager:7">https://odysee.com/@DistroTube:2/five-tips-for-the-openbox-window-manager:7</a>
<p><br/></p>
<p>TITLE: The Right Wallpaper Is The Key To A Beautiful Desktop</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-right-wallpaper-is-the-key-to-a:e">https://odysee.com/@DistroTube:2/the-right-wallpaper-is-the-key-to-a:e</a>
<p><br/></p>
<p>TITLE: The Latest Release Of 0 A.D. Looks Amazing!</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-latest-release-of-0-a-d-looks-2:0">https://odysee.com/@DistroTube:2/the-latest-release-of-0-a-d-looks-2:0</a>
<p><br/></p>
<p>TITLE: Explaining Everything In My XMonad Config</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/explaining-everything-in-my-xmonad:f">https://odysee.com/@DistroTube:2/explaining-everything-in-my-xmonad:f</a>
<p><br/></p>
<p>TITLE: Siduction Is The &quotUnstable&quot Debian-Based Linux Distro</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/siduction-is-the-unstable-debian-based:4">https://odysee.com/@DistroTube:2/siduction-is-the-unstable-debian-based:4</a>
<p><br/></p>
<p>TITLE: Read Manpages With Less, Bat, Vim or Neovim</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/read-manpages-with-less-bat-vim-or:b">https://odysee.com/@DistroTube:2/read-manpages-with-less-bat-vim-or:b</a>
<p><br/></p>
<p>TITLE: Many Computer Users Never Run Updates</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/many-computer-users-never-run-updates:8">https://odysee.com/@DistroTube:2/many-computer-users-never-run-updates:8</a>
<p><br/></p>
<p>TITLE: Ubuntu, Then Arch. It&#39s The Road So Many Of Us Travel.</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/ubuntu-then-arch-it-s-the-road-so-many:9">https://odysee.com/@DistroTube:2/ubuntu-then-arch-it-s-the-road-so-many:9</a>
<p><br/></p>
<p>TITLE: Mailspring Is An Email Client For Windows, Mac And Linux</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/mailspring-is-an-email-client-for:b">https://odysee.com/@DistroTube:2/mailspring-is-an-email-client-for:b</a>
<p><br/></p>
<p>TITLE: Crypto Currency Rates From The Command Line</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/crypto-currency-rates-from-the-command:e">https://odysee.com/@DistroTube:2/crypto-currency-rates-from-the-command:e</a>
<p><br/></p>
<p>TITLE: JingOS Is An Ipad Inspired Linux Distro</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/jingos-is-an-ipad-inspired-linux-distro:1">https://odysee.com/@DistroTube:2/jingos-is-an-ipad-inspired-linux-distro:1</a>
<p><br/></p>
<p>TITLE: &quotEthical&quot Software Threatens Free And Open Source Software</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/ethical-software-threatens-free-and-open:b">https://odysee.com/@DistroTube:2/ethical-software-threatens-free-and-open:b</a>
<p><br/></p>
<p>TITLE: Some Additional Thoughts About Gemini And Amfora </p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/some-additional-thoughts-about-gemini:4">https://odysee.com/@DistroTube:2/some-additional-thoughts-about-gemini:4</a>
<p><br/></p>
<p>TITLE: LeftWM Is A Tiling Window Manager Written In Rust</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/leftwm-is-a-tiling-window-manager:9">https://odysee.com/@DistroTube:2/leftwm-is-a-tiling-window-manager:9</a>
<p><br/></p>
<p>TITLE: Solus Continues To Impress Me With Each Release </p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/solus-continues-to-impress-me-with-each:6">https://odysee.com/@DistroTube:2/solus-continues-to-impress-me-with-each:6</a>
<p><br/></p>
<p>TITLE: The 100K Live Stream</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-100k-live-stream:f">https://odysee.com/@DistroTube:2/the-100k-live-stream:f</a>
<p><br/></p>
<p>TITLE: Gemini Is What The Web Should Have Been</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/gemini-is-what-the-web-should-have-been:9">https://odysee.com/@DistroTube:2/gemini-is-what-the-web-should-have-been:9</a>
<p><br/></p>
<p>TITLE: Read Your RSS Feeds With NewsFlash</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/read-your-rss-feeds-with-newsflash:4">https://odysee.com/@DistroTube:2/read-your-rss-feeds-with-newsflash:4</a>
<p><br/></p>
<p>TITLE: How To Enable DRM Restricted Content In LibreWolf</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/how-to-enable-drm-restricted-content-in:d">https://odysee.com/@DistroTube:2/how-to-enable-drm-restricted-content-in:d</a>
<p><br/></p>
<p>TITLE: Rust Programs Every Linux User Should Know About</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/rust-programs-every-linux-user-should:d">https://odysee.com/@DistroTube:2/rust-programs-every-linux-user-should:d</a>
<p><br/></p>
<p>TITLE: Tabliss Is A &quotNew Tab&quot Plugin For Firefox and Chrome</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/tabliss-is-a-new-tab-plugin-for-firefox:4">https://odysee.com/@DistroTube:2/tabliss-is-a-new-tab-plugin-for-firefox:4</a>
<p><br/></p>
<p>TITLE: Attention Arch Users! Replace &#39Yay&#39 With &#39Paru&#39.</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/attention-arch-users-replace-yay-with:b">https://odysee.com/@DistroTube:2/attention-arch-users-replace-yay-with:b</a>
<p><br/></p>
<p>TITLE: &quotHey, DT. Why LibreOffice Instead Of OpenOffice?&quot Plus Other Questions.</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/hey-dt-why-libreoffice-instead-of:3">https://odysee.com/@DistroTube:2/hey-dt-why-libreoffice-instead-of:3</a>
<p><br/></p>
<p>TITLE: Configuring The Xmobar Panel In Xmonad</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/configuring-the-xmobar-panel-in-xmonad:8">https://odysee.com/@DistroTube:2/configuring-the-xmobar-panel-in-xmonad:8</a>
<p><br/></p>
<p>TITLE: A First Look At Manjaro Sway Edition</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/a-first-look-at-manjaro-sway-edition:8">https://odysee.com/@DistroTube:2/a-first-look-at-manjaro-sway-edition:8</a>
<p><br/></p>
<p>TITLE: LibreWolf Is A Web Browser For Privacy and Freedom</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/librewolf-is-a-web-browser-for-privacy:9">https://odysee.com/@DistroTube:2/librewolf-is-a-web-browser-for-privacy:9</a>
<p><br/></p>
<p>TITLE: DistroToot Is Now Accepting New Members</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/distrotoot-is-now-accepting-new-members:f">https://odysee.com/@DistroTube:2/distrotoot-is-now-accepting-new-members:f</a>
<p><br/></p>
<p>TITLE: Beginner&#39s Guide To The Linux Terminal</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/beginner-s-guide-to-the-linux-terminal:8">https://odysee.com/@DistroTube:2/beginner-s-guide-to-the-linux-terminal:8</a>
<p><br/></p>
<p>TITLE: Banned From Mastodon? #MeToo</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/banned-from-mastodon-metoo:f">https://odysee.com/@DistroTube:2/banned-from-mastodon-metoo:f</a>
<p><br/></p>
<p>TITLE: Mozilla No Longer Supports A Free Internet</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/mozilla-no-longer-supports-a-free:5">https://odysee.com/@DistroTube:2/mozilla-no-longer-supports-a-free:5</a>
<p><br/></p>
<p>TITLE: Trading Stocks On Linux</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/trading-stocks-on-linux:1">https://odysee.com/@DistroTube:2/trading-stocks-on-linux:1</a>
<p><br/></p>
<p>TITLE: The Kimafun Dual Wireless Microphone Set</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/the-kimafun-dual-wireless-microphone-set:c">https://odysee.com/@DistroTube:2/the-kimafun-dual-wireless-microphone-set:c</a>
<p><br/></p>
<p>TITLE: Kitty Is A Fast And Feature Rich Terminal Emulator</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/kitty-is-a-fast-and-feature-rich:e">https://odysee.com/@DistroTube:2/kitty-is-a-fast-and-feature-rich:e</a>
<p><br/></p>
<p>TITLE: Installation and First Look of Deepin 20.1</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/installation-and-first-look-of-deepin-20:6">https://odysee.com/@DistroTube:2/installation-and-first-look-of-deepin-20:6</a>
<p><br/></p>
<p>TITLE: Good Riddance, 2020.  How You Doin&#39, 2021?!  (DT LIVE)</p>
<a style="display: block;" href="https://odysee.com/@DistroTube:2/good-riddance-2020-how-you-doin-2021-dt:e">https://odysee.com/@DistroTube:2/good-riddance-2020-how-you-doin-2021-dt:e</a>
<p><br/></p>
<h2>Video Categories</h2>
<p><br/></p>
<a style="display: block;" href="../videos/2017-videos.html">Videos from 2017</a>
<a style="display: block;" href="../videos/2018-videos.html">Videos from 2018</a>
<a style="display: block;" href="../videos/2019-videos.html">Videos from 2019</a>
<a style="display: block;" href="../videos/2020-videos.html">Videos from 2020</a>
<a style="display: block;" href="../videos/2021-videos.html">Videos from 2021</a>
